@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styling */
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

a {
  text-decoration: none;
}

body {
  background: #F4F8FF ;  
  font-family: "Manrope", sans-serif;
}

/* Fonts family class */
.nunito-sans{
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
}

.pacifico-cursive{
  font-family: "Pacifico", cursive;
  font-style: normal;
}

.main-btn{
  @apply bg-[#8F71E1] text-center text-white
}

.outline-button{
  @apply bg-transparent border border-[#7E53D4] rounded-lg
}

/* swiper-custom.css */
.swiper-pagination-bullet {
  width: 15px !important; /* Default dot size */
  height: 10px !important;
  background: #d2cbfa !important; /* Inactive dot color */
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 24px !important; /* Active dot size */
  height: 10px !important; /* Active dot size */
  background: #7a5cfa !important; /* Active dot color */
  border-radius: 12px !important; /* Elliptical shape for active dots */
}